$main-black: '#111827';
$grey: '#696F7A';
$dark-grey: '#333';
$white: '#fff';
$blue: '#097cf3';
$dark-blue: '#0463A6';
$dark-puce: '#813434';
$pale-puce: '#813434';
$light-grey: #f7f7f8;
$main-grey: #696f7a;
$pale-grey: #e1e3e6;
$purple: #6c47ff;
$dark-black: #0d0d0d;
$dark-purple: #2a2831;
$light-black: #171719;
$light-grey-2: #d8dfee;
$light-grey-3: #b8c1cc;
$light-purple: #6c47ff;
$light-purple-2: #413c53;
$light-purple-3: #3c384c;
$low-grey: #25282c;
$red: #F23E54;

$light-grey-low: rgba(105, 111, 122, 0.12);
$light-grey-low-2: rgba(184, 193, 204, 0.7);
$light-purple-low: rgba(108, 71, 255, 0.05);

$low-black: rgba(#000, 0.1);
$low-white: rgba(#fff, 0.25);
$dark-grey-low: rgba(#333, 0.1);
$dark-white-low: rgba(#fff, 0.1);
$white-low: rgba(#fff, 0.5);

:root {
  --main-color: #{$white};
  --secondary-color: #{$purple};
  --background-color: #{$light-grey};
  --background-color-secondary: #{$light-purple-low};
  --background-color-3: #ffffff;
  --background-color-4: #{$light-grey};
  --background-color-5: #{$light-grey-low};
  --background-color-6: #{$light-grey-3};
  --background-color-red: #{$red};
  --text-color: #{$main-black};
  --text-color-secondary: #{$main-grey};
  --text-color-3: #{$light-purple};
  --text-color-4: #{$main-black};
  --text-color-white: #{$white};
  --text-color-black: #{$main-black};
  --border-color: #{$pale-grey};
  --border-color-secondary: #{$light-grey-low};
  --border-color-3: #{$light-grey-3};
  --border-color-4: #{$light-grey-low};
  --border-color-5: #{$light-grey-3};
  --shadow-color: #{$low-white};
  --shadow-color-secondary: #{$low-black};
}

:root.dark {
  --main-color: #{$dark-black};
  --secondary-color: #{$purple};
  --background-color: #{$dark-purple};
  --background-color-secondary: #{$dark-purple};
  --background-color-3: #171719;
  --background-color-4: #{$light-purple-2};
  --background-color-5: #{$low-grey};
  --background-color-6: #{$main-grey};
  --text-color: #{$light-grey-2};
  --text-color-secondary: #{$light-grey-low-2};
  --text-color-3: #{$white-low};
  --text-color-4: #{$white};
  --text-color-white: #{$white};
  --text-color-black: #{$main-black};
  --border-color: #{$dark-purple};
  --border-color-secondary: #{$light-grey-low};
  --border-color-3: #{$light-purple-3};
  --border-color-4: #{$low-grey};
  --border-color-5: #{$light-purple-3};
  --shadow-color: #{$low-black};
  --shadow-color-secondary: #{$low-white};
}
