$black: '#000000';
$grey: '#f5f5f5';
$dark-grey: '#333';
$white: '#fff';
$blue: '#097cf3';
$dark-blue: '#0463A6';
$dark-puce: '#813434';
$pale-puce: '#813434';

$low-black: rgba(#000, 0.1);
$low-white: rgba(#fff, 0.25);
$dark-grey-low: rgba(#333, 0.1);
$dark-white-low: rgba(#fff, 0.1);
$white-low: rgba(#fff, 0.5);

:root {
  --main-color: #{$blue};
  --background-color: #{$white};
  --background-color-secondary: #{$grey};
  --text-color: #{$black};
  --text-color-secondary: #{$white};
  --text-color-white: #{$white};
  --text-color-white-low: #{$white-low};
  --text-color-black: #{$black};
  --border-color: #{$dark-grey};
  --border-color-secondary: #{$dark-grey-low};
  --shadow-color: #{$low-white};
  --shadow-color-secondary: #{$low-black};
}

:root.dark {
  --main-color: #{$blue};
  --background-color: #{$dark-grey};
  --background-color-secondary: #{$grey};
  --text-color: #{$white};
  --text-color-secondary: #{$black};
  --text-color-white: #{$white};
  --text-color-white-low: #{$white-low};
  --text-color-black: #{$black};
  --border-color: #{$white};
  --border-color-secondary: #{$dark-white-low};
  --shadow-color: #{$low-black};
  --shadow-color-secondary: #{$low-white};
}
