.chat-box-insights {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color-secondary);
  border-radius: 20px;
  overflow: hidden;
  height: calc(100vh - 172px);
  background-color: var(--main-color);
  .chat-box__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 20px;
    background-color: var(--background-color-5);
    border-bottom: 1px solid var(--border-color-4);
    .chat-box__name {
      font-family: 'SF Pro Text';
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      text-decoration: underline;
      cursor: pointer;

      color: var(--secondary-color);
    }
  }
  .chat-box__placeholder {
    margin-top: 12px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
  }
  .chat-box__input-box {
    display: flex;
    align-items: stretch;
    align-self: flex-end;
    width: 100%;
    .chat-box__input {
      font-family: 'Inter';
      width: 100%;
      border: none;
      padding: 0 12px;
      font-size: 15px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #000;
      }
    }
    .chat-box__submit-button {
      font-family: 'SF Pro Text';
      font-size: 15px;
      font-weight: 600;
      background-color: var(--secondary-color);
      color: var(--text-color-white);
      border-radius: 8px;
      margin: 20px;

      width: 100%;

      cursor: pointer;
      padding: 12px 18px;
      .chat-box__submit-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }

  .chat-box-insights__controls {
    width: 100%;
    display: flex;
    align-items: center;

    .chat-box-insights__attach-files {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      .chat-box-insights__attach {
        cursor: pointer;
        position: absolute;
        right: 8px;
        .chat-box-insights__attach-input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 10;
        }
        .chat-box-insights__attach-amount {
          font-family: 'SF Pro Text';
          position: absolute;
          top: 0;
          right: -2px;
          font-size: 12px;
          background-color: var(--main-color);
          padding: 0 4px;
          border-radius: 50%;
          color: var(--text-color);
          .chat-box-insights__attach-icon {
            width: 24px;
            height: 24px;
            * {
              stroke: var(--secondary-color);
            }
          }
        }
      }
      .chat-box-insights__input {
        border-bottom-left-radius: 20px;
        width: 100%;
        padding: 18px 8px;
        font-size: 15px;
        font-family: 'SF Pro Text';
        outline: none;
        border: 1px solid var(--border-color-4);
        background-color: var(--background-color-5);
        color: var(--text-color);
      }
    }
    .chat-box-insights__submit {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-right-radius: 20px;
      font-family: 'SF Pro Text';
      font-weight: 600;
      font-size: 15px;
      width: 100%;
      max-width: 150px;
      height: 100%;
      background-color: var(--secondary-color);
      color: var(--main-color);
      cursor: pointer;
    }
  }
}
