.message-insights {
  position: relative;
  display: block;
  font-family: 'Inter';
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--background-color-5);
  padding: 10px 16px;
  border-radius: 10px;
  font-family: 'SF Pro Text';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  align-self: flex-end;
  max-width: 70%;
  margin-top: 20px;
  .message__sender {
    font-family: 'SF Pro Text';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: var(--secondary-color);
  }
  .message__text-insights {
    margin-top: 2px;
    white-space: pre-line;
  }
  &:not(:first-child) {
    margin-top: 20px;
  }
  &.message--isReceived {
    align-self: flex-start;
    background-color: var(--background-color-secondary);
    color: var(--text-color);
  }
  .message__description {
    margin-top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'SF Pro Text';
    font-size: 11px;
    color: var(--text-color);
    bottom: 1px;
    right: 6px;
    opacity: 0.4;
    gap: 8px;
    .message__category {
      text-transform: capitalize;
    }
  }
}
