.lead-table__wrapper {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 6px;
  margin-top: 6px;
  .lead-table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid var(--border-color-secondary);
    font-family: 'Inter';

    .lead-table__row-head {
      background-color: var(--main-color);
      color: var(--text-color-white);
      th {
        &:not(:last-child) {
          border-right: 1px solid var(--border-color-secondary);
        }
        padding: 6px 0;
      }
    }

    .lead-table__row {
      td {
        word-break: break-all;
        &:not(:last-child) {
          border-right: 1px solid var(--border-color-secondary);
        }
        color: var(--text-color);
        padding: 6px;
      }
    }
  }
  .lead-table__loader {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .lead-table__empty-placeholder {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: var(--text-color);
    margin: 12px;
  }
}
