.lead-table__wrapper {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 6px;
  transition: 0.5s border;
  .lead-table {
    display: grid;
    align-items: center;
    grid-template-columns: 160px 1fr 200px 80px;
    width: 100%;
    border: 1px solid var(--border-color-secondary);
    border-radius: 8px;
    font-family: 'Inter';
    transition: 0.5s border;
    overflow: hidden;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;

    .lead-table__cell-head {
      background-color: var(--background-color);
      color: var(--text-color-secondary);
      padding: 14px 4px;
      height: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid var(--border-color-secondary);
      letter-spacing: 0.2px;
      line-height: 18px;
    }

    .lead-table__cell {
      padding: 8px 4px;
      height: 100%;
      box-sizing: border-box;
      color: var(--text-color);
      border-bottom: 1px solid var(--border-color-secondary);
      background-color: var(--background-color-3);
      letter-spacing: 0.2px;
      line-height: 18px;
      &.lead-table__cell-url {
        text-decoration: none;
        color: var(--text-color-3);
      }
    }
  }
  .lead-table__loader {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .lead-table__to-chat-cell {
    box-sizing: border-box;
    .lead-table__to-chat {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color-secondary);
      text-decoration: none;
      padding: 8px;
      width: fit-content;
      border-radius: 8px;
      color: var(--text-color-white);
      .lead-table__to-chat-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
