.chat-box {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-color-secondary);
  border-radius: 6px;
  overflow: hidden;
  height: calc(100vh - 172px);
  padding: 0 80px 20px;
  margin: 0 12px;
  .chat-box__placeholder {
    margin-top: 12px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }
  .chat-box__input-box {
    display: flex;
    align-items: stretch;
    align-self: flex-end;
    width: 100%;
    .chat-box__input {
      font-family: 'Inter';
      width: 100%;
      border: none;
      padding: 0 12px;
      font-size: 15px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #000;
      }
    }
    .chat-box__submit-button {
      font-family: 'SF Pro Text';
      font-size: 15px;
      font-weight: 600;
      background-color: var(--secondary-color);
      color: var(--text-color-white);
      padding: 6px;
      border-radius: 8px;

      height: 44px;
      width: 100%;

      margin: 0 auto;
      cursor: pointer;
      padding: 12px 18px;
      .chat-box__submit-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}
