.lead-form {
  .lead-form__confirm {
    display: block;
    max-width: 768px;
    margin: 24px auto 0;
  }
  .lead-form__input-wrapper {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    .lead-form__or {
      font-family: 'Inter';
      font-size: 15px;
    }
    .lead-form__input {
      width: 33%;
    }
  }
  .lead-form__table-wrapper {
    max-width: 1440px;
    margin: 24px auto 0;
    padding: 0 24px;

    .lead-form__table-title {
      display: block;
      font-family: 'Inter';
      font-size: 24px;
      font-weight: 500;
      color: var(--text-color);
      margin-bottom: 12px;
    }
  }
}
