.lead-form {
  .lead-form__title {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 12px;
    letter-spacing: 0.25px;
  }
  .lead-form__confirm {
    display: block;
    max-width: 768px;
    margin: 24px auto 0;
  }
  .lead-form__input-wrapper {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;

    .lead-form__input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px;
      border-radius: 3px;
      font-family: 'Inter';
      font-size: 15px;
      border: 1px solid var(--border-color);
      &:focus {
        outline: none;
      }
    }
    .lead-form__file-upload {
      margin-top: 12px;
    }
  }
}

.lead-form__dialog {
  width: 100%;
}
.lead-form__title {
  font-family: 'Inter';
}
.lead-form__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .lead-form__loader {
    padding: 12px 0;
  }
}
