.chat-form {
  max-width: 1280px;
  margin: 12px auto;
  background-color: var(--main-color);
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  .chat-form__chat-box-wrapper {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;

    .chat-form__go-back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      font-family: 'Inter';
      cursor: pointer;
    }
  }
  .chat-form__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 12px;
    .chat-form__box-wrapper {
      width: 100%;
    }
    .prompt__box-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
